body>div>div>header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top ease 1ms;
  font-size: larger;
}

body>div>div>header:hover{
  transform: scale(1.5);
}

body>div>div>div{
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body>div>div>div>div{
  width: 100%;
  height: 95%;
  display: flex;
  margin: 5px;
  font-family: var(--font-main);
}
body>div>div>div>div>div{
  text-align: center;
  width: 25%;
  margin: 0;
}
body>div>div>div>div>p{
  width: 75%;
  margin: 0;
}
body>div>div>div>footer{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}